/*default*/
ul
{
    list-style-type: none;
}

/*layout*/
#content 
{
	text-align: center;
	background-image: url("../img/background.gif");
	min-height: 710px; 
}

#timeline
{
	height: 150px;
	padding: 20px 88px;
}

#dashboard
{
	height: 150px;
	padding: 20px 250px;
}

#lists
{
	padding: 0px 120px 15px 120px;
}

/*timeline*/
#timeslider
{
	margin: 30px 60px 0px 60px;
}

.smonth
{
	float: left;
	height: 70px;
	width: 70px;
	font-size: 12pt;
	margin: 20px 28px 0px 28px;
}

.bmonth
{
	float: left;
	height: 70px;
	width: 70px;
	color: #ff7373;
	font-size: 24pt;
	margin: 8px 28px 0px 28px;
}

/*dashboard*/
#totalcost
{
	float: left;
	width: 350px;
	height: 121px;
	margin-top: -10px;
	margin-left: 50px;
}

#totalcost span:first-child
{
	font-size: 65pt;
}

#totalcost span:last-child
{
	font-size: 45pt;
	color: grey;
}

#seperatecost
{
	float: left;
	margin-left: 20px;
}

#Add
{
	float: left;
	margin-left: 90px;
	height: 90px;
	width:130px;
}

/*lists*/
.list
{
	border-radius: 5px;
	background-image: url("../img/list.jpg");
	width: 800px;
	height: 80px;
	margin: 15px auto;
}

.list div
{
	float: left;
	font-family: Helvetica;
}

.ldate
{
	width: 132px;
	color: white;
}

.dyear
{
	height: 20px;
	font-size:14px;
	margin-left: 8px;
}

.dmonth
{
	padding-left: 20px;
	margin-top: -5px;
	clear: both;
}

.mday
{
	font-size: 48px;
	margin-left: -5px;
}

.mmonth
{
	font-size: 30px;
}

.list img
{
	margin-top: 10px;
	margin-left: 16px;
	height: 60px;
	width: 60px;
	border-radius: 30px;
}

.litems
{
	margin: 15px 0px 15px 30px;
	width: 350px;
	font-size: 16px;
}

.litem
{
	margin-right: 10px;
}

.iname
{
	font-size: 16px;
}

.iquan
{
	font-size: 14px;
}

.lcost
{
	margin-left: 10px;
	margin-top: 13px;
	font-size: 38px;
}

.lcost span
{
	font-size: 20px;
}














